.tooltip {width:auto;white-space:nowrap;}
#msManager {}
#msManager h3 {margin-bottom:.6em;}
#msManager table {width:100%;}
#msManager table tbody tr td {padding-left:8px;}
#msManager div.btns {margin:0;padding:0;}
#msManager .btn.block {display:block;width:100%;padding-right:0;padding-left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#msManager div.ccm-summary-selected-item {background:#fff;margin:0;padding:5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
#msManager div.ccm-summary-selected-item div.ccm-summary-selected-item-inner {margin:1px 0;}
#msManager div.toggleable {display:none;}

#msManager .clearfix {padding:0;}
#msManager div.container-fluid {padding:0;}
#msManager div.row-fluid.spaced {margin-bottom:1em;}
