.flexry-default {
  text-align: center;
  line-height: 1;
}
.flexry-default .flexry-default-row {
  padding: 10px;
}
.flexry-default .flexry-default-item {
  background: #fff;
  padding: 10px 10px 0;
  display: inline-block;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flexry-default .flexry-default-item img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
}
.flexry-default .flexry-default-item span {
  display: block;
  line-height: 1em;
  padding: 10px;
  overflow: hidden;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
