@import '../../../css/dev/variables-mixins';

.flexry-default {text-align:center;line-height:1;
  .flexry-default-row {
    &:first-child {margin-top:0;}
  }
  .flexry-default-item {display:inline-block;margin:0 auto;
    img {display:block;max-width:100%;width:auto;height:auto;margin:0 auto;}
    span {display:none;padding:.2em .675em .25em;line-height:1.3em;max-width:100%;white-space:normal;overflow:hidden;text-overflow:ellipsis;@include box-sizing(border-box);
      &.visible {display:block;}
      &.title {text-transform:capitalize;}
      &:empty {display:none;}
    }
  }

  &.shadows {
    .flexry-default-item {@include box-shadow(0 0 6px rgba(0,0,0,.35));}
  }
}