@import '../../../../../../css/dev/variables-mixins';

.flexry-dicer {
  .flexry-dicer-item {display:none;position:absolute;
    img {max-width:100%;}
    &.current {display:block;position:relative;}

    .containment {position:absolute;@include perspective(5000px);}
    .brick {position:absolute;@include transform-style(preserve-3d);}
    .inner {position:relative;width:100%;height:100%;}
    .inner2 {width:100%;height:100%;position:absolute;}
    .side {background:#0e90d2;opacity:.3;width:100%;height:100%;position:absolute;
      &.top {@include transform(rotateX(90deg));}
      &.bottom {@include transform(rotateX(-90deg));}
      /*&.top {@include transform(rotateX(-90deg));@include transform-origin(0, 0);}
      &.right {@include transform(rotateY(-90deg));@include transform-origin(100%, 0);}
      &.left {@include transform(rotateY(90deg));@include transform-origin(0, 0);}
      &.bottom {@include transform(rotateX(90deg));@include transform-origin(0, 100%);}
      &.back {@include transform(translateZ(-100px));}*/
    }
  }
}